<div class="container mt-4 bg-light text-black p-3 rounded">
  <h1>Edit Workshop</h1>
  <%= render 'form', workshop: @workshop %>
  <%= link_to 'Back', workshops_path, class: 'btn btn-secondary' %>
</div>
