<!-- app/views/static_pages/waiting_approval.html.erb -->
<h1>Espera de Aprobación</h1>
<p>Su cuenta ha sido creada exitosamente y está en espera de aprobación por un administrador. Recibirá un correo electrónico una vez que su cuenta haya sido activada.</p>
