<div class="container mt-5">
  <div class="bg-light text-black p-4 rounded p-5">
    <% if @user.payment_status == "reservation" && @user.second_payment_proof.blank? %>
      <!-- Mostrar el campo para adjuntar el segundo pago -->
      <div class="second-payment">
        <h2>Completa tu Pago</h2>
        <%= form_with model: @user, url: upload_second_payment_user_path(@user), local: true, method: :post, multipart: true do |form| %>
          <label class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt fa-3x"></i>
            <br>
            Adjunta el comprobante del segundo pago.
            <%= form.file_field :second_payment_proof, accept: "image/jpeg,image/png,application/pdf" %>
          </label>
          <%= form.submit "Enviar", class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    <% elsif @user.payment_status == "complete" || @user.second_payment_proof.present? %>
      <!-- Mostrar mensaje de que la inscripción está en proceso de aprobación -->
      <div class="waiting-approval">
        <h2>Tu inscripción está en proceso de aprobación</h2>
        <p>Gracias por completar tu pago. Recibirás una notificación cuando tu inscripción haya sido aprobada.</p>
      </div>
    <% else %>
      <!-- Caso para usuarios con pago completo -->
      <div class="waiting-approval">
        <h2>Tu inscripción está en proceso de aprobación</h2>
        <p>No necesitas realizar ningún pago adicional. Recibirás una notificación cuando tu inscripción haya sido aprobada.</p>
      </div>
    <% end %>
  </div>
</div>
