<div class="container mt-5">
    <div class="bg-light text-black p-4 rounded p-5">
        <h1>Espera de Aprobación</h1>
          <p class="fs-4">Has tomado la sabia decisión de unirte a nuestro <strong>Campamento Web</strong>,</p>
          <br><hr>
        <h2>¿Qué sigue?</h2>

        <p class="fs-4">Marca en tu calendario: <strong>9, 10 y 12 de junio a las 7 PM</strong>. Asegúrate de cargar bien tu laptop, preparar tu mejor taza de café o té y acomodarte en tu silla, porque vamos a embarcarnos en una travesía que transformará tu forma de ver (y hacer) las páginas web.</p>
        <p class="fs-4">Recibirás pronto un email con todos los detalles necesarios para iniciar esta epopeya digital. Mientras tanto, ¿por qué no practicas haciendo clic derecho y "inspeccionar" en cualquier página web? Podrías descubrir los secretos que se esconden detrás de tus sitios favoritos.</p>
       <br>
        <h3>¡Nos vemos en el campamento!</h3>
        <p class="fs-6">PD: Tu cuenta ha sido creada exitosamente y está en espera de aprobación por un administrador. Recibirás un correo electrónico una vez que su cuenta haya sido activada.</p>
    </div>
</div>
