<h1>Tu reserva para el taller "<%= @workshop.name %>"</h1>
<p>Hola <%= @user.full_name %>,</p>
<p>Gracias por reservar tu puesto en el taller "<%= @workshop.name %>" de Campamento Web.</p>
<p>Se har치 una revisi칩n de tu aplicaci칩n antes de aprobar tu usuario y tu cupo permanecer치 reservado, con tu usuario en espera, hasta que completes el segundo pago.</p>
<p>Atentamente,</p>
<p>Campamento Web</p>
