<h1>Bienvenid@ a <%= @workshop.name %></h1>
<p>Hola <%= @user.full_name %>,</p>
<p>Campamento Web te da una cordial bienvenida al taller "<%= @workshop.name %>".</p>
<p>Tu usuario debe ser aprobado antes de que puedas acceder a otras zonas de Campamento Web.</p>
<p>Mientras, completa tu perfil de usuario aquí: <a href="<%= @profile_link %>">Perfil de Usuario</a>.</p>
<p>¡Hasta pronto!</p>
<p>Campamento Web</p>
