.gray-card-lg {
  background: linear-gradient(172deg, #FAF4F4 0%, #FFFEFE 53%, #FAF5F5 100%);
  padding:7rem 1em;
  color:#292929;
  z-index: 1;
  position: relative;
  border: 1px solid #c1c1c1;
}

.gray-card-md {
  background: linear-gradient(172deg, #FAF4F4 0%, #FFFEFE 53%, #FAF5F5 100%);
  padding:2rem 2em;
  font-size: 18px;
  color:#292929;
  z-index: 1;
  position: relative;
  border: 1px solid #c1c1c1;
}
